.flight-form {
    background: white;
    border-radius: 8px;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
  }
  
  .flight-form h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 1rem;
    position: relative;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .form-group select,
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .form-group input[type="date"] {
    font-family: Arial, sans-serif;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 0.7rem;
    border: none;
    background-color: #3a3b3c;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .btn:hover {
    background-color: #575757;
  }
.warning {
  color: red;
  font-size: 0.9em;
  margin-top: 0.25em;
  
}
.suggestions {
  border: 1px solid #ccc;
  border-top: none;
  list-style: none;
  max-height: 150px;
  overflow-y: auto;
  padding: 0; /* Consider adding some padding if needed */
  position: absolute; /* Position the suggestions absolutely */
  width: 100%; /* Match input width directly */
  z-index: 1000; /* High enough to be on top of other elements */
  background-color: white; /* Ensure background color is set for visibility */
  margin-top: 0; /* Ensure no margin that would push it down */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
}

.suggestions li {
  padding: 8px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f0f0f0; /* Change background on hover */
}
